binwalk
BraveSoftware
byubu
chromium
Code
dconf
discord
Discord
easyeffects
Electron
flutter
gh
github-copilot
go
google-chrome
google-chrome-for-testing
htop
matplotlib
mpv
ngrok
obs-studio
obsidian
openstego
pulse
qastools
qimgv
spotify
systemd
Vector 35
WebCord
wireshark
xfce4
xsettingsd
yay
QtProject.conf
lazygit
GIMP
byobu
gtkfilechooser.ini
spicy
waypaper
ags
discordcanary
FreeCAD
Bitwarden
Exodus
fish
pietron
unity3d
VirtualBox
uv
Postman
arkrc
kritarc
mimeapps.list
libreoffice
Caido
cookiefarm
qt5ct
qt6ct
Vencord
winboat
turborepo
nextjs-nodejs
qalculate
.mozilla
cava
# Some random image IDK

volume_down.png
volume_up.png
volume_muted.svg
speaker.png
scrot.png
fallback.png
brightness_down.png
brightness_up.png
