"$schema" = 'https://starship.rs/config-schema.json'

format = """

$os\
$username\

$directory\

$git_branch\
$git_status\

$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\

$docker_context\

$cmd_duration\

$line_break\
$character"""

command_timeout=3600000

palette = 'catppuccin_mocha'

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
orange = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

[os]
disabled = false
style = " fg:text"

[os.symbols]
EndeavourOS = " "
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = ""
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[username]
show_always = true
style_user = "fg:lavender"
style_root = "fg:green"
format = '[ $user ]($style)'

[directory]
style = "fg:text"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
style = ""
format = '[[ $symbol $branch ](fg:flamingo )]($style)'

[git_status]
style = ""
format = '[[($all_status$ahead_behind )](fg:text )]($style)'

[nodejs]
symbol = ""
style = ""
format = '[[ $symbol( $version) ](fg:green )]($style)'

[c]
symbol = " "
style = ""
format = '[[ $symbol( $version) ](fg:blue )]($style)'

[rust]
symbol = ""
style = ""
format = '[[ $symbol( $version) ](fg:peach )]($style)'

[golang]
symbol = ""
style = ""
format = '[[ $symbol( $version) ](fg:blue )]($style)'

[php]
symbol = ""
style = ""
format = '[[ $symbol( $version) ](fg:blue )]($style)'

[java]
symbol = " "
style = ""
format = '[[ $symbol( $version) ](fg:flamingo )]($style)'

[kotlin]
symbol = ""
style = ""
format = '[[ $symbol( $version) ](fg:lavander )]($style)'

[haskell]
symbol = ""
style = ""
format = '[[ $symbol( $version) ](fg:lavander )]($style)'

[python]
symbol = ""
style = ""
format = '[[ $symbol( $version) ](fg:yellow )]($style)'

[docker_context]
symbol = ""
style = ""
format = '[[ $symbol( $context) ](fg:#83a598 )]($style)'

[cmd_duration]
min_time = 1
format = "[󱎫 $duration]($style)"
style = "fg:overlay1"

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[](bold fg:green)'
error_symbol = '[](bold fg:red)'
vimcmd_symbol = '[](bold fg:creen)'
vimcmd_replace_one_symbol = '[](bold fg:purple)'
vimcmd_replace_symbol = '[](bold fg:purple)'
vimcmd_visual_symbol = '[](bold fg:lavender)'
