@define-color foreground #ffffff;
@define-color background rgba(26, 27, 38, 0.7);
@define-color cursor #ffffff;

@define-color color0 #7984A4;
@define-color color1 #bf616a;
@define-color color2 #ffffff;
@define-color color3 #e5e5e5;
@define-color color4 #fb958b;
@define-color color5 #ebcb8b;
@define-color color6 #6a92d7;
@define-color color7 #ffffff;
@define-color color8 #eb937d;
@define-color color9 #7d9bba;
@define-color color10 #8fbcbb;
@define-color color11 #964b00;
@define-color color12 #707d9d;
@define-color color13 #c8d2e0;
@define-color color14 #c0caf5;
@define-color color15 #ffffff;
